.profile_tabs ul{
  margin-bottom: 10px;
}

h1.error_404 {
  text-align: center;
  font-size: 50px;
  margin-top:20%;
  color: #918185;
}
.pagination-centered{
  text-align:center;
}
.footer h5{
  text-align:center;
  color: white;
}
